<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="MongoDB_URL" value="mongodb://localhost:27017" />
    <add key="DatabaseName" value="UserDB" />
    <add key="UserCollection_Name" value="User" />
    <add key="UserCreditCollection_Name" value="UserCreditDetails" />
    <add key="SplunkRecordFolderPath" value="C:\SplunkRecordsZipped" />
    <add key="SplunkUnzippedPath" value="C:\SplunkRecords" />
    <add key="LogPath" value="logging.config" />
  </appSettings>
</configuration>