<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="frauddetect.api.fraud.service.Fraud" relativeAddress="Fraud.svc"></add>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="Fraud" name="frauddetect.api.fraud.service.Fraud">
        <endpoint address="" behaviorConfiguration="Fraud.EndPointServiceBehavior"
                  binding="webHttpBinding" bindingConfiguration="webHttpBinding_server"
                  contract="frauddetect.api.fraud.service.IFraud"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Fraud.EndPointServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Fraud">
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_server" closeTimeout="09:00:01" openTimeout="09:00:01" receiveTimeout="10675199.02:48:05.4775807" sendTimeout="10675199.02:48:05.4775807" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999999999" maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999"  transferMode="Streamed" useDefaultWebProxy="true">
          <security mode="None"/>
          <readerQuotas maxDepth="999999999" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <appSettings>
    <add key="SPLUNKSERVER" value=""/>
    <add key="SPLUNKPORT" value=""/>
    <add key="SPLUNKUSER" value=""/>
    <add key="SPLUNKPASSWORD" value=""/>
    <add key="SPLUNKQUERY" value=""/>
  </appSettings>

</configuration>
